.body{
    display: flex;
    flex-direction: column;
    background-color: #FEE2E2;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    flex:1;
    margin: 0 12px 0 12px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.navbarItem{
    flex: 1;
    color: #7F1D1D;
    font-size: 24px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarSelected{
    font-weight: bold;
    border-left: 5px solid #EF4444;
}

.content{
    flex: 10;
    margin: 0;
    padding: 0;
}

.homeContent{
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap: 3vh;
}

.home-shopPic{
    flex:6;
    background: url('./images/restaurant.jpg');
    background-repeat: no-repeat;
    height: 90%;
    padding: 2vh 0 2vh 0;
    border-radius:0 35px 35px 0;
}

.home-shopPicTitle{
    background-color: #FBBF24;
    color: #7F1D1D;
    font-size: 40px;
    border-radius: 0 25px 25px 0;
    margin: 2vh 0 2vh 0;
    padding: 1vh 0 1vh 3vh;
    width: 70%;
    font-weight: bolder;
    
}
.home-desc{
    flex:4;
    height: 65%;
    border-style: solid ;
    border-color: #EF4444;
    background-color: #7F1D1D;
    border-width: 20px;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    display: flex;
    flex-direction: column;
}

.home-descTitle{
    flex: 2;
    color: #FBBF24;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    padding: 4vh 4vh 0 4vh;
}

.home-descBody{
    flex: 8;
    text-align:center;
    color: #FEE2E2;
    font-size: 20px;
    padding:0 4vh 4vh 4vh;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menuTitleDiv{
    flex: 2;
    width: 100%;
    min-width: 300px;
}

.menuTitle{
    background-color: #FBBF24;
    color: #7F1D1D;
    font-size: 40px;
    border-radius: 0 25px 25px 0;
    margin: 6.5vh 0 1vh 0;
    padding: 1vh 0 1vh 3vh;
    display: block;
    width: 42%;
    min-width: 300px;
    font-weight: bolder;
}

.menuBody{
    flex:10;
    overflow-y: scroll;
}

.footer{
    flex: 0.5;
    background-color: #7F1D1D;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #FEE2E2;
}

.pic-container{
    flex: 3;
}

.pic-container-img{
    height: 200px;
}

.menu-detail-container{
    flex: 7;
}

.menu-container{
    height: 35%;
    display: flex;
    direction: row;
}
